## Python Tutorial: Part 1 - Conda, IPython, and Python Basics

Here we will install Conda and IPython (a.k.a. Jupyter). Then we will use this IPython notebook to introduce the basic data types and functionality of Python.

For a full course on Python, go here: https://github.com/cuttlefishh/python-for-data-analysis.

### Installing Miniconda and working with Conda

_Conda is an open source package management system and environment management system for installing multiple versions of software packages and their dependencies and switching easily between them. It works on Linux, OS X and Windows, and was created for Python programs but can package and distribute any software._ -- <http://conda.pydata.org/docs/>

First, install miniconda3: <http://conda.pydata.org/miniconda.html>. By default, environments you create will use Python 3, but you can specify Python 2 if required.

Then, create a conda environment. Let's make an environment called `python3` for this class that includes Python 3 and Jupyter. 

```
conda create -n python3 python=3 jupyter
```

To activate the environment:

```
source activate python3
```

To deactivate the environment:

```
source deactivate
```

To delete an environment:

```
conda env remove -n myenv
```

After you activate your environment, you can install additional packages to that environment using `conda install`:

```
conda install pandas
```

If the package isn't available from conda, try `pip install`:

```
pip install tabview
```

List the environments on your system:

```
conda env list
```

List the packages in your current environment:

```
conda list
```

### Python and IPython command-line interpreter

(demonstration)

### Working with Jupyter notebooks and Python basics

(demonstration with Python Crash Course)

## Python Crash Course

In this tutorial we will cover some basic aspects of Python using IPython (Jupyter) notebooks. 

1. Syntax
2. Data types
3. Loops and control structures
4. numpy, scipy, math

### Import modules to use

In [1]:
import math
import numpy as np

### Syntax

In [2]:
2 + 2

4

In [3]:
x = 5
y = 2
x * y

10

In [4]:
x ** y

25

In [5]:
print('Hello, world!')

Hello, world!

In [6]:
print('%s raised to power of %s equals %s' % (x, y, x ** y))

5 raised to power of 2 equals 25

### Data types

#### Boolean

'True' and 'False' have special meaning in Python.

In [7]:
a = True
b = False

In [8]:
a == True

True

In [9]:
b == True

False

In [10]:
a or b

True

In [11]:
a and b

False

#### Numbers: integers and floats

Numbers are pretty straightforward, especially in Python 3.

In [12]:
1 + 2

3

In [13]:
1.0 + 2.0

3.0

In [14]:
1 / 2

0.5

In [15]:
1.0 / 2.0

0.5

In [16]:
type(1)

int

In [17]:
type(1/2)

float

#### Strings

The next four data types -- strings, lists, tuples, arrays -- are all sequences.

Strings are sequences of characters.

In [18]:
s = 'Hello, world'

In [19]:
type(s)

str

In [20]:
s[0:4]

'Hell'

In [21]:
s + '!'

'Hello, world!'

In [22]:
s

'Hello, world'

In [23]:
s = s + '!'

In [24]:
s

'Hello, world!'

#### Lists

Lists are _mutable_ sequences of anything.

In [25]:
l = [0, 1, 1, 2, 3, 5, 8]

In [26]:
m = [5, 2, 'a', 'xxx', True, [0, 1]]

In [27]:
l[0:3]

[0, 1, 1]

In [28]:
m[4]

True

In [29]:
m[4] = False

In [30]:
m[4:]

[False, [0, 1]]

#### Tuples

Tuples are immutable sequences of anything (similar to lists except you can't change them).

In [31]:
n = (3, 5, 6)

In [32]:
n[0]

3

In [33]:
n[0] = 2

TypeError: 'tuple' object does not support item assignment

#### Arrays (numpy)

In [34]:
mylist = [0, 2, 4]
np.array(mylist)

array([0, 2, 4])

In [35]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [36]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [37]:
np.arange(4, 10)

array([4, 5, 6, 7, 8, 9])

In [38]:
np.arange(0, 10, 2)

array([0, 2, 4, 6, 8])

In [39]:
np.linspace(0, 10, 5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [40]:
np.linspace(0, 10, 11)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [41]:
np.random.rand()

0.06384130090001616

In [42]:
np.random.rand(5)

array([0.95324507, 0.44248371, 0.85218144, 0.49100863, 0.09484053])

#### Sets

Sets are unordered collections of unique objects.

In [43]:
s1 = {'a', 'b', 'c'}
s2 = {'a', 'd', 'e'}

In [44]:
s1 & s2

{'a'}

In [45]:
s1 | s2

{'a', 'b', 'c', 'd', 'e'}

In [46]:
s3 = set(l)
s4 = set(m[0:2])

In [47]:
s3 & s4

{2, 5}

In [48]:
s3 | s4

{0, 1, 2, 3, 5, 8}

In [49]:
s3 - s4

{0, 1, 3, 8}

#### Dictionaries

Dictionaries or 'dicts' are hash tables, where a key points to a value.

In [50]:
d = {'name': 'John Doe', 'age': 27, 'dob': '7/20/1989'}

In [51]:
d

{'name': 'John Doe', 'age': 27, 'dob': '7/20/1989'}

In [52]:
d['name']

'John Doe'

In [53]:
d['zip'] = 92039

### Loops and control structures

#### Boolean and comparison operations

In [54]:
x = 5
(x < 6) and (x > 4)

True

In [55]:
x != 4

True

In [56]:
5 in [3, 4, 5]

True

In [57]:
'ell' in 'Hello'

True

In [58]:
len('Hello') >= 5

True

#### if tests

In [59]:
if 'd' in 'abc':
    print('Learn your alphabet.')
elif (2 + 2 == 5):
    print('Sometimes yes.')
else: 
    print('Nothing is true.')

Nothing is true.

#### while loops

In [60]:
i = 0
while (i < 5):
    print(i)
    i += 1

0
1
2
3
4

In [61]:
i

5

#### for loops

In [62]:
for x in [0, 1, 2, 3, 4]:
    print(x**2)

0
1
4
9
16